<input [(ngModel)]="id">
<input readonly [(ngModel)]="id">
<br>
mon id {{id}}
<br>
mon pokemon selectionné est {{selectedPokeId}}
<br>
<input [(ngModel)]="searchPokeName">
<br>
<select [(ngModel)]="selectedPokeId">
    <option [value]="poke.id"
     *ngFor="let poke of pokes | filterPokemonPipe:'name':searchPokeName">
        {{poke.name}}
    </option>
</select>
<button (click)="go()">GO</button>

<br>
<div *ngIf="pokeDetail">
    Le pokemon selectionné est {{pokeDetail.name}} :
</div>
 

<div *ngIf="pokeDetail">
    <app-pokedetail [detail]='pokeDetail'></app-pokedetail>
    
 <!--    <ul>
        <li *ngFor="let ability of pokeDetail.abilities">
            {{ability.ability.name}}  
        </li>
    </ul> -->
</div>